@model BusinessInterop.Data.BookDto

@{
    ViewData["Title"] = "Книга";
}

<br />

<h2>Книга</h2>

<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateOrUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" value="@(Model is null ? 0 : Model.Id)" name="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>

                <input asp-for="Name" class="form-control" maxlength="100" />

                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Year" class="control-label">Год издания</label>

                <input asp-for="Year" class="form-control" maxlength="4" type="number" step="any" />

                <span asp-validation-for="Year" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GenreId" class="control-label">Жанр</label>

                <select asp-antiforgery="true" data-live-search="true" autocomplete="true" asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreIds">
                    <option selected="selected" value=""></option>
                </select>

                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>

            <div class="form-group" align="center">
                <div class="btn-group">
                    <input type="submit" value="Сохранить" class="btn btn-outline-success" />

                    <a class="btn btn-outline-danger" asp-action="Index">Отмена</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}